.divCard {
  display: inline-block;
  box-sizing: border-box;
  margin-right: 44px;
}

.divInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 300px;
  height: 450px;
  margin-bottom: 30px;
  background-color: #264a21;
  border: #81c925 3px solid;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.39);
}

.link {
  text-decoration: none;
}

.image {
  margin-top: 5px;
  overflow-y: visible;
  width: 94%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 285px;
  /* box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.39); */
  /* height: 90%; */
}
.name {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background-color: #344f50; */
  margin: 0px;
  padding-top: 4%;
  padding-bottom: 4%;
  color: white;
  font-size: 22px;
  background-color: #001107;
  width: 285px;
  height: 65px;
}

.divSpeciesGender {
  background-color: #5aa64e;
  width: 94%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 285px;
}

.species {
  font-weight: normal;
  color: white;
  font-size: 18px;
}

.gender {
  font-weight: normal;
  color: white;
  font-size: 18px;
}

.divSelect {
  display: flex;
  justify-content: end;
  margin-top: 30px;
  margin-right: 10px;
}

.selectFav {
  margin-left: 20px;
  width: 200px;
  height: 30px;
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: 700;
  background-color: #5aa64e;
  letter-spacing: 0.05rem;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.39);
  border-radius: 10px;
}
